input {
    vertical-align: middle;
    margin: 5px;
    padding: 10px;
    background-color: #fff;
    border: 2px solid #ddd;
    font-size: 16px;
}
h2{
    font-weight: 700;
    font-size: 18px;
}
.child-wrapper{
    padding: 10px;
    border: 2px solid #3cc2b3;
    margin: 10px;
}
.parent-wrapper{
    border: 5px solid #00a1e0;
    padding: 5px;
}